# ======================
# Virtual Environment
# ======================
.venv/
venv/
env/

# ======================
# Flask / Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Flask-Migrate
# ======================
migrations/

# ======================
# Environment variables
# ======================
.env
.env.*

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db
.vercel
.env*.local

vercel.json