{% extends "layout.html" %}
{% block title %}Profil{% endblock %}

{% block content %}
<div
    class="group flex rounded-sm w-full flex-col overflow-hidden border border-neutral-300 bg-neutral-50 text-neutral-600 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300">

    <div class="relative h-36">
        <div class="h-full w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"></div>
        <div
            class="relative z-10 mx-auto -mt-14 size-28 overflow-hidden rounded-full border-4 border-neutral-50 dark:border-neutral-900">
            <img src="{{ url_for('static', filename='images/person.png') }}"
                class="h-full object-cover transition duration-700 ease-out group-hover:scale-105" alt="avatar" />
        </div>
    </div>
    <!-- Body -->
    <div class="flex flex-col gap-2 p-6 text-center mt-12">
        <h3 class="text-balance text-xl font-bold text-neutral-900 lg:text-2xl dark:text-white"
            aria-describedby="profileDescription">{{current_user.fullname}}</h3>
        <span
            class="mx-auto w-fit bg-black px-2 py-1 text-xs text-neutral-100 dark:bg-white dark:text-black rounded-sm">DOSEN</span>

    </div>
</div>


<!-- Tampilkan flash message -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="m-4">
    {% for category, message in messages %}
    <div class="px-4 py-2 rounded mb-2
                        {% if category == 'success' %} bg-green-100 text-green-700
                        {% elif category == 'error' %} bg-red-100 text-red-700
                        {% elif category == 'warning' %} bg-yellow-100 text-yellow-700
                        {% else %} bg-gray-100 text-gray-700 {% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="px-4 grid grid-cols-1 md:grid-cols-2 gap-4 my-4">

    <div class="w-full ">
        <div class="bg-green-300 p-4 mb-4 flex gap-4 justify-between">
            <h3 class="font-bold">{{ kelas.nama }} | {{ kelas.matakuliah.nama }} | {{ kelas.semester }} | {{
                kelas.tahun_ajaran }}
            </h3>
            <a class="underline bg-green-100 px-2 py-1 rounded-sm" href="#">Unggah Materi</a>
        </div>

        <div class="flex gap-4 justify-between">
            <span>Materi {{kelas.matakuliah.nama}} </span>
            <a class="underline bg-green-100 px-2 py-1 rounded-sm" href="#">Download</a>
        </div>

    </div>
    <div class="w-full ">
        <div class="bg-green-300 p-4 mb-4 flex gap-4 justify-between">
            <h3 class="font-bold">
                Tugas Kelas
            </h3>
            <a class="underline bg-green-100 px-2 py-1 rounded-sm"
                href="{{ url_for('main.tambah_tugas', kelas_id=kelas.id) }}">Unggah Tugas</a>
        </div>
        <div class="flex flex-col gap-3">
            {% for tk in tugas_kelas %}
            <div class="flex gap-4 justify-between px-4">
                <div class="font-bold">{{ tk.judul }}</div>
                <div class="font-bold">Batas Waktu: {{ tk.deadline }}</div>
                <div class="flex gap-4">
                    <a class="underline bg-green-100 px-2 py-1 rounded-sm" target="_blank" href="{{ tk.file_tugas }}">Lihat</a>
                    <a href="{{ url_for('main.periksa_jawaban_tugas', kelas_id=tk.kelas_id, tugas_id=tk.id) }}">Periksa</a>
                     <form method="POST" action="{{ url_for('main.hapus_tugas', kelas_id=tk.kelas_id,tugas_id=tk.id) }}"
              onsubmit="return confirm('Yakin ingin menghapus dataset ini?')">
             {{ form_tugas.hidden_tag() }}
                  <button type="submit" class="text-red-600 hover:text-red-800 text-sm">
                Hapus
              </button>
            </form>
                </div>

            </div>
            {% endfor %}
        </div>

    </div>
    <div class="w-full ">
        <div class="bg-red-300 p-4 mb-4">
            <h3 class="font-bold">
                Mahasiswa yang bergabung
            </h3>
        </div>
        <div class="flex flex-col gap-3">
            {% for km in kelas_mahasiswa %}
            <div class="flex gap-4 justify-between px-4">
                <div class="font-bold">{{ km.mahasiswa.user.fullname }}</div>
            
                <!--untuk update v1.3
                <div>                   
                  Nilai Kumulatif:  <span class="font-bold text-2xl">{{km.nilai_akhir if km.nilai_akhir is not none else 0 }}</span> 
                </div>
                -->
                
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}