{% extends "layout.html" %}
{% block title %}Profil{% endblock %}

{% block content %}
<div
    class="group flex rounded-sm w-full flex-col overflow-hidden border border-neutral-300 bg-neutral-50 text-neutral-600 dark:border-neutral-700 dark:bg-neutral-900 dark:text-neutral-300">

    <div class="relative h-36">
        <div class="h-full w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"></div>
        <div
            class="relative z-10 mx-auto -mt-14 size-28 overflow-hidden rounded-full border-4 border-neutral-50 dark:border-neutral-900">
            <img src="{{ url_for('static', filename='images/person.png') }}"
                class="h-full object-cover transition duration-700 ease-out group-hover:scale-105" alt="avatar" />
        </div>
    </div>
    <!-- Body -->
    <div class="flex flex-col gap-2 p-6 text-center mt-12">
        <h3 class="text-balance text-xl font-bold text-neutral-900 lg:text-2xl dark:text-white"
            aria-describedby="profileDescription">{{current_user.fullname}}</h3>
        <span
            class="mx-auto w-fit bg-black px-2 py-1 text-xs text-neutral-100 dark:bg-white dark:text-black rounded-sm">MAHASISWA</span>

    </div>
</div>


<!-- Tampilkan flash message -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="m-4">
    {% for category, message in messages %}
    <div class="px-4 py-2 rounded mb-2
                        {% if category == 'success' %} bg-green-100 text-green-700
                        {% elif category == 'error' %} bg-red-100 text-red-700
                        {% elif category == 'warning' %} bg-yellow-100 text-yellow-700
                        {% else %} bg-gray-100 text-gray-700 {% endif %}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="px-4 flex flex-col md:flex-row gap-4 my-4">

    <div class="w-full ">
        <div class="bg-green-300 p-4 mb-4 flex gap-4 justify-between">
            <h3 class="font-bold">{{ kelas.nama }} | {{ kelas.matakuliah.nama }} | {{ kelas.semester }} | {{
                kelas.tahun_ajaran }}
            </h3>
            <p>
                Nilai IP Kelas Rata-rata: <span class="font-bold text-2xl">{{nilai_ipk_kelas}}</span>
            </p>
            <p>
                Nilai IP Kelas Huruf:
                <span class="font-bold text-green-700">
                    {{ nilai_huruf_ipk }}
                </span>
            </p>
        </div>

        <div class="flex flex-col gap-6">
            <div class="w-full ">
                <div class="bg-green-300 p-4 flex flex-col gap-4">

                    <h3 class="font-bold">
                        Tugas Kelas
                    </h3>


                    {% for tugas, jawaban in tugas_kelas %}
                    <div class="flex gap-4 justify-between p-4 bg-gray-50">
                        <div>
                            <div class="font-bold">{{ tugas.judul }}</div>
                            <div class="text-sm text-gray-500">
                                Deadline: {{ tugas.deadline }}
                            </div>
                        </div>
                        <div class="flex gap-4 items-center">

                            <a class="underline bg-blue-100 px-2 py-1 rounded-sm" target="_blank"
                                href="{{ tugas.file_tugas }}">
                                Lihat Tugas
                            </a>

                            {% if jawaban and jawaban.nilai is not none %}
                            <!-- SUDAH DINILAI -->
                            <span class="bg-yellow-100 px-2 py-1 rounded-sm">
                                Nilai: <span class="font-bold">{{ jawaban.nilai }}</span>
                                <span> <a class="underline bg-blue-100 px-2 py-1 rounded-sm mb-4" target="_blank"
                                        href="{{ jawaban.file_jawaban }}">
                                        Lihat Jawaban
                                    </a></span>
                            </span>

                            {% elif tugas.deadline and tugas.deadline < tanggal_hari_ini %} <!-- DEADLINE TERLEWAT -->
                                <span class="bg-red-100 text-red-700 px-2 py-1 rounded-sm">
                                    ⛔ Deadline terlewat
                                </span>

                                {% elif jawaban %}
                                <!-- SUDAH ADA JAWABAN (BELUM DEADLINE) -->
                                <div class="bg-yellow-50 border border-yellow-300 p-3 rounded-md">
                                    <p class="text-yellow-800 text-sm mb-2">
                                        ✅ Jawaban sudah dikirim
                                    </p>

                                    <a class="underline bg-blue-100 px-2 py-1 rounded-sm mb-4" target="_blank"
                                        href="{{ jawaban.file_jawaban }}">
                                        Lihat Jawaban
                                    </a>
                                    <form method="POST" action="{{ url_for('main.hapus_jawaban', tugas_id=tugas.id) }}"
                                        onsubmit="return confirm('Yakin ingin menghapus jawaban? File akan dihapus permanen!')">

                                        {{ form_tugas.hidden_tag() }}

                                        <button type="submit"
                                            class="px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700">
                                            Hapus dan Kirim Ulang Jawaban
                                        </button>
                                    </form>
                                </div>

                                {% else %}
                                <!-- BELUM ADA JAWABAN (BELUM DEADLINE) -->
                                <form method="POST" enctype="multipart/form-data"
                                    action="{{ url_for('main.upload_jawaban', tugas_id=tugas.id) }}">

                                    {{ form_tugas.hidden_tag() }}
                                    {{ form_tugas.file_jawaban() }}

                                    <button type="submit"
                                        class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700">
                                        Kirim Jawaban
                                    </button>
                                </form>
                                {% endif %}

                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
            <div class="w-full ">
                <div class="bg-green-300 p-4 flex flex-col gap-4">
                    <h3 class="font-bold">
                        Materi Kelas
                    </h3>
                    {% for materi in materi_kelas %}
                    <div class="bg-gray-50 p-4 rounded-md shadow-xl">
                        <div class="mb-2 font-bold">{{materi.judul}} </div>
                        <div class="flex gap-4 justify-between">
                            {%if materi.link_eksternal %}
                            <a target="_blank" href="{{materi.link_eksternal}}">Link Eksternal

                                {% endif %}

                                {%if materi.file %}
                                <a class="underline bg-green-100 px-2 py-1 rounded-sm" target="_blank"
                                    href="{{materi.file}}">Download</a>
                                {%endif%}


                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}